{% extends "nav.html" %}
{% block title %} Autopay Setup{% endblock %}
{% block content %}
    <h1>AutoPay Billing Agreement</h1><button type="button" class="btn btn-warning" style="height:30px; padding-top:4px" onclick="windowClose();">Close</button>

	<br>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
		AutoPay Billing Agreement
<br><br>
		AUTOPAY TERMS & CONDITIONS
<br><br>
		By enrolling in The Frances Xavier Warde School AutoPay Program (the "Program"), I am authorizing The Frances Xavier Warde School (“FXW”) to debit the banking or credit card account I designate (the "Designated Account") each billing period to pay automatically the amount due on my FXW tuition statement or other agreed upon amount. The amount of the debit may depend upon the account activity during that period.
<br><br>
		FXW will advise me by email of the amount and date of the payment that will be automatically debited. To receive confirmation of the debit transfer taking place, I may log onto myFXW at fxw.org, or call my bank, or call the business office of FXW at 312-466-0700, option 8.
<br><br>
		1. Automated Payment Amount
<br><br>
		FXW tuition accounts allow certain charges to be paid over time. By enrolling in the Program, FXW will debit my Designated Account for the entire Total Due Now shown on my tuition statement or other agreed upon amount.
<br><br>
		I understand that the exact debit date will appear on my email advice and will occur no earlier than the payment schedule option I have selected. I agree that unless I notify FXW to stop or adjust the amount of the debit, in accordance with the procedures set forth in paragraph 3 below, FXW is authorized to debit the funds from the Designated Account in the amount specified in the automatic payment option I have selected. I will ensure that there are sufficient funds in the Designated Account on the specified debit date to pay the amount of the debit.
<br><br>
		For the automatic payment option I have selected, FXW is authorized to reduce the amount of the debit previously disclosed to me on my tuition statement by the amount of any payments or credits applied to my tuition account prior to the scheduled debit date.
<br><br>
		I understand that if my enrollment is terminated for any reason and there is an outstanding balance on the tuition account, FXW will continue to automatically debit my Designated Account. If I close my Designated Account, I agree to notify FXW beforehand to enable FXW to stop initiating debit transactions.
<br><br>
		2. Additional Payments.
<br><br>
		If I would like to make payment in addition to the automated payment amount I have selected I may do so online at fxw.org, or by another means such as a check.
<br><br>
		3. Stop Payment Orders/Adjustments.
<br><br>
		If I want to stop an automated payment or make an adjustment to the amount of the upcoming automated payment, I can do so online by logging into myFXW at fxw.org, calling the business office at 1-312-466-0700, option 8, or writing to FXW, c/o Business Office, 751 N. State St., Chicago, IL, 60654. My request must be received by FXW at least two (2) business days before the scheduled debit date on my tuition statement. If I call to make an adjustment, my request may not be processed until the following billing period.
<br><br>
		For purposes of the Program, business days are Monday through Friday. Holidays are not included. If the scheduled debit date is on a weekend or banking holiday, the debit will be made on the next business day.
			
		</div>
		<div class="col-sm-3"></div>
	</div>
	
<br><br>

<script language="javascript" type="text/javascript"> 
function windowClose() { 
window.open('','_parent',''); 
window.close();
} 
</script>
	
{% endblock %}